/* Layout chung */
.add-user-container {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    min-height: 85vh;
    position: relative;
}

.page-title {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.section-title {
    font-size: 18px;
    color: #ddd; 
    font-weight: 600;
    margin-bottom: 30px;
}

.form-layout {
    display: flex;
    gap: 50px;
}

/* Form bên trái */
.main-form {
    flex: 2;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
    font-weight: 600;
}

.input-wrapper {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.02);
}

.input-wrapper input {
    border: none;
    outline: none;
    width: 90%;
    font-size: 14px;
    color: #333;
}

.char-count {
    font-size: 12px;
    color: #aaa;
}

/* Radio Buttons */
.role-selection {
    display: flex;
    gap: 40px;
    margin: 30px 0;
}

.radio-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    cursor: pointer;
}

.radio-container input[type="radio"] {
    accent-color: #007bff; 
    width: 18px;
    height: 18px;
}

/* Nút Lưu */
.form-actions {
    display: flex;
    justify-content: flex-end;
}

.btn-save {
    background-color: #FFE5D9; 
    color: #FF5722; 
    border: none;
    padding: 12px 40px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.btn-save:hover {
    background-color: #ffccbc;
}


.avatar-upload-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.avatar-preview img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

.btn-change-photo {
    background: #fff;
    border: 1px solid #ddd;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 13px;
    color: #555;
}